/* RegistrationForm.css */

.registration-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f7f7f7;
  text-align: center;
}

.success-message {
  color:white;
  margin: 10px 0;
  font-size: large;
  font-weight:bolder;
}
#dialogBox{
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.successDialogBox{
  max-width: 200px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color:green;
  text-align: center;
  
}
.form-group {
  margin: 10px 0;
}

label {
  display: block;
  text-align: left;
}

input, select {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
}

.error {
  color: red;
  text-align: left;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
@media (max-width: 600px) {
  .registration-form {
    max-width: 100%;
  }
}

@media (max-width: 400px) {
  input,
  select {
    width: calc(100% - 10px);
  }
}
